/************************************************** HEADER *******************************************************/
.header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/*----------------- Logo -------------------*/
.logo {
    height: 90px;
}

.logo img {
    padding-top: 25px;
}

/*----------------- Menu -------------------*/
.menu {
    display: flex;
    height: 60px;
    gap: 30px;
}

.menu {
    list-style-type: none;
    overflow: hidden;
}

.menu a {
    color: var(--color-text-secondary);
    font-weight: 400;
}
